<div>
Гостиница «Большая Сталинградская»
<p>
	<img src="/static/images/hotels/large-stalingrad/photo1.jpg" width=400>
</p>
В центре Сталинграда с дореволюционного, царицынского периода функционировало несколько гостиниц, имевших незначительное количество мест. Новая эпоха требовала иных масштабов. И гостиница № 2, получившая название «Большая Сталинградская» (№ 1 носила гостиница «Интурист», строившаяся одновременно с ней; об этом далее), должна была стать одной из самых крупных в городе и располагаться на углу ул. Гоголя и Островского (на этом месте ещё до Революции были построены несколько небольших зданий, снесённых в начале 1930-х гг.).
<p>
	<img src="/static/images/hotels/large-stalingrad/photo2.jpg" width=400>
</p>
Застройщиком гостиницы выступил Крайисполком. Над проектом работал инженер Сталинградстроя по фамилии Маслов (имя и отчество неизвестны), но городские власти решили переделать его проект, чтобы увеличить количество номеров. Дорабатывать проект «Большой Сталинградской» поручили главному архитектору «Крайпрогора» Ф.Н. Дюженко и технику-архитектору В. И. Кочедамову с условием, что за основу будут взяты расчеты инженера Маслова. Здание было спроектировано в конструктивистском стиле, с характерными для него строгими линиями фасадов и большими площадями остекления. Так появился новый вариант – пятиэтажное здание на 230 номеров с магазинами и рестораном на первом этаже. Строительство гостиницы велось в течение 1933–1935 годов (фото 1, 2). Здание гостиницы было достаточно примечательным и запечатлелось на множестве фотографий конца 1930-х – начала 1940-х гг. (в том числе на знаменитой фотографии 1941 г. с отправляющимися на фронт мобилизованными жителями города (фото 3)).
<p>
	<img src="/static/images/hotels/large-stalingrad/photo3.jpg" width=400>
</p>
В период Сталинградской битвы площадь Павших борцов, где располагалась гостиница, стала ареной ожесточенных боев. В сентябре 1942 г. на площади держали оборону бойцы 1-го батальона 42-го гвардейского стрелкового полка 13-й гвардейской стрелковой дивизии А.И. Родимцева. К январю 1943 г. немцы превратили площадь в главный опорный пункт частей 6-й армии Ф. Паулюса. После войны широким фронтом велось проектирование и строительство объектов, составлявших центр города.
<p>
	<img src="/static/images/hotels/large-stalingrad/photo4.jpg" width=400>
</p>
Во время Великой Отечественной войны «Большая Сталинградская» была разрушена практически до основания и в дальнейшем не восстанавливалась (фото 3, февраль 1942 г.) (фото 4). В соответствии с новым генпланом Сталинграда через территорию бывшей гостиницы прошла проезжая часть ул. Мира, а на месте разрушенной гостиницы «Большая Сталинградская» в настоящее время частично располагается парковка при здании Главпочтамта (фото 5).
<p>
	<img src="/static/images/hotels/large-stalingrad/photo5.jpg" width=400>
</p>
</div>
