<div class='history_info'>
<h2>Гостиница «Национальные номера»</h2>

Переходя на нечётную сторону улицы (до Сталинградской битвы нам пришлось 
бы это сделать путём пересечения не только дороги, но и трамвайных путей, см. фото 2), следует отметить, что, в отличие от чётной стороны, она в целом утратила свой прежний облик. Ни одно из царицынских зданий, стоявших здесь до Сталинградской битвы, не было восстановлено после войны. Это касается и первого здания, на которое мы обратим наше внимание – гостиницы «Национальные номера» (фото 1, 2, на карте – фото 3, под номером 1).
<p align="center">
	<img src="/static/images/hotels/national/photo1.jpg" width=400>
</p>
Роскошное трёхэтажное здание гостиницы, построенное, вероятно, в самом начале XX в., принадлежало известному царицынскому предпринимателю, позже – городскому голове В. В. Клёнову, дом которого примыкал к «Hotel National» (французское название гостиницы) с востока.
<p  align="center">
	<img src="/static/images/hotels/national/photo2.jpg" width=400>
</p>
После Революции гостиница была национализирована и передана под управление Волго-Донскому союзу кооперативов. Снесено после Сталинградской битвы в рамках нереализованного плана строительства Дома Советов на месте нынешнего Александро-Невского собора. В настоящий момент на её месте располагается часть Александровского сада (фото 3).
<p  align="center">
	<img src="/static/images/hotels/national/photo3.jpg" width=400>
	<img src="/static/images/hotels/national/photo4.jpg" width=400>
</p>
</div>
