<div>
«Столичные номера» выигрывали благодаря своему масштабу и роскоши. 
Гостиницы, построенные позже, и не имевшие такого количества номеров, 
старались выигрывать географическим положением. Именно поэтому с 
начала ХХ века на улице Елизаветниской/Гоголя начинают вырастать гостиницы — 
одна за одной, так, что Гоголевская превращается в «Гостиничную». 
Гостю Царицына было где здесь сделать выбор. Первое, на что падал его 
взгляд, были «Национальные номера» или «Националь». 
Такое крупное гостиничное здание появляется здесь одним из первых — 
ещё во времена, когда на улице господствовала старая одноэтажная 
деревянная застройка. На фото можно также разглядеть, что вывеска 
«Номера» присутствует и на двух зданиях подальше. Но конкурировать 
им с «Националем» было не легко.
Гостиница принадлежала известному в Царицыне человеку — Василию Клёнову, 
который дважды — в 1907-1910 и 1915-1917 гг. занимал должность 
Городского Головы Царицына. Гостиничный бизнес у Клёнова был налажен 
всерьёз: кроме «Националя» ему также принадлежало здание гостиницы 
«Коммерческие номера», располагавшейся в Зацарицынской части города, 
на Вознесенской площади. После революции, в 20-е годы здание передали 
Волго-Донскому союзу кооперативов.
</div>
