
body {
    background: white;
}

.Toolbar {
    float: left;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color : #FFFFFF;
    font-size : 1.2em;
    background-color : #1E2B32;
    border-radius: 10px 10px;
    text-align: center;

}

.Toolbar button {
    background-color : #eeeeee;
    color : #323232;
    font-size : 1.0em;
    border-radius: 7px 7px;
}


.CanvasContainer {
    clear: both;
}

canvas {
    border: 1px solid #7B899B;
}

img {
    padding: 2px;
    border: 2px solid #F2F7FE;
}

img:hover {
    border: 2px groove #E4F0FE;
    background: white;
}


img.Selected {
    border: 2px groove #E4F0FE;
}

#savedCopyContainer {
    display: none;
}

#savedCopyContainer img {
    width: 250px;
    height: 150px;
}
