<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
{% block cssinclude %}
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
{% endblock %}
</head>
{% block jscode %}{% endblock %}
<!--<body  id="content">-->
<body>
<!--<a href="/">Главная</a>-->
<h4>
    {% block header %}{% endblock %}
</h4>
<table>
    <tr>
        <td>
            {% block menu %}
            {% include 'menu.html' %}
            {% endblock%}
        </td>
        <td >
            <div >
            {% block content %}
                <img src="/static/images/landscape-city-7.jpg">
            {% endblock %}
            </div>
        </td>
    </tr>
</table>

{% block locate %}{% endblock %}

</body>
</html>