<div class="container">
  <div class="card">
    <div class="header">
      <h3>Menu <i class="fas fa-angle-down iconM"></i></h3>
    </div>
    <div class="body">
      <ul>
        <li><i class="fas fa-home icon"></i>
            <a href="/">Главная</a>
        </li>
        <li><i class="fas fa-upload"></i>
            <a href="/manage/upload_model3d/">Загрузка 3D  моделей</a>
        </li>
        <li><i class="fas fa-boxes icon"></i>
            <a href="/manage/make_scene/">Создание 3D  сцены</a>
        </li>
        <li><i class="fas fa-landmark"></i>
            <a href="/manage/make_environment/">Добавление окружения</a>
        </li>
        <li><i class="fas fa-building"></i>
            <a href="#"> Работа с 3D  моделями</a>
          <ul>
            <li><i class="fas fa-book-open"></i>
                <a href="/manage/upload_history_info/">Добавление исторической справки</a>
            </li>
            <li><i class="fas fa-file-image"></i>
            <a href="/manage/add_texture/">Добавление текстуры</a>
            </li>
          </ul>
        </li>

        <li><i class="fas fa-street-view"></i>
             <a href="/view_scene/7">3D просмотр</a>
        </li>
        <li><i class="fas fa-th-list"></i>
            <a href="/manage/scene_list/">Список 3D сцен </a>
        </li>
      </ul>
    </div>
  </div>
</div>